.btn {
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  font-weight: bold;
  cursor: pointer;
  transition: transform 0.2s;
  color: white;
  display: inline-block;

  &:hover {
    transform: scale(1.05);
  }
}

@each $name, $hex in $button-colors {
  .btn-#{$name} {
    background-color: $hex;
  }
}
